body {
  font-family: "Inter", sans-serif;
}
img {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  display: flex;
  align-items: center;
}
.tag-team {
  background-color: #b84deb;
  margin: 2px;
  color: #fff;
  border-radius: 15px;
  width: fit-content;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  margin: 20px;
}
li {
  list-style: none;
  color: #ffff;
}
header {
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  justify-content: space-between;
}
.container-principal {
  width: 100%;
}
button {
  margin-right: 10px;
}
label {
  color: rgb(135, 130, 130);
  display: flex;
  align-items: center;
  width: 35px;
  padding: 2px;
}
.expiration-date {
  background-color: #84e439;
  border-radius: 15px;
  width: fit-content;
  padding: 10px;
}
p {
  font-weight: 500;
}
.nav-header {
  font-size: 20px;
}
.nav-header h6 {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}
.card-top {
  display: flex;
  width: 100%;
}
